/* header */

.header {
    background: color(background);
    position: relative;
    width: 97%;
    height: 60px;
    z-index: 3;
    margin: .3em 0;
}

.header ul {
    margin: 7px 0 0 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background: color(background);
}

.header li a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: color(primary);
    text-align: center;
    font-size: .9rem;
    margin-bottom: 2px;
}

.header li a:hover,
.header .menu-btn:hover {
    background-color: #f4f4f4;
    border-radius: 25px;
}

.header li .login {
    font-weight: bold;
}

.header li .login a {
    padding: 10px 25px;
}

.header li .joinus a {
    background: color(call);
    border-radius: 25px;
    color: #fff;
    font-weight: 800;
    border: 2px color(call) solid;
    padding: 10px 25px;

}

.header .logo {
    display: block;
    float: left;
    margin: 10px 5px;
    position: fixed;
    box-shadow: 0px 0px 15px #ccc;

}

/* menu */

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}

/* menu btn */

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked ~ .menu {
    max-height: fit-content;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}


@media (min-width: 992px) {
    .header li {
        float: left;
    }

    .header li a {
        padding: 10px 10px;
    }

    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }

    .header .menu-icon {
        display: none;
    }

    .header .logo {
        box-shadow: none;
    }

}

@media (min-width: 1200px) {

    .header li a {
        padding: 10px 20px;
    }

    .header li .login a {
        padding: 10px 25px;
    }

    .header li .joinus a {

        padding: 10px 25px;

    }

}
