@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800&display=swap');

$fontcolors: (primary:#000, background:#fff,
    accent:#028740, call:#d81118);

$padding: 10px;

@function color($color-name) {
    @return map-get($fontcolors, $color-name)
}


body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background: color(background);
    color: color(primary);
    height: 100%;
}

// Import custom project scss partials here
@import "header";
@import "mid";
@import "footer";
